.container {
    background-color: var(--product-item-background);
    box-shadow: var(--box-shadow-1);
    border-radius: 1rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

.image {
    align-items: center;
    display: flex;
    justify-content: left;
    height: fit-content;
    width: 100%;
    padding: 6rem 2rem 2rem;
}

.image img {
    max-height: 200px;
    max-width: 200px;
    height: 100%;
    margin: 0 auto;
}

.title h1 {
    font-size: 2.8rem;
    text-align: center;
}

.body {
    padding: 2rem;
}

.price {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 2rem 0;
    width: 100%;
}

.price h3 span {
    color: var(--text-secondary-color);
    font-size: 2.5rem;
}

.stock {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 100%;
}

.quantityContainer {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    width: 80%;
}

.qtyInput {
    width: 100%;
    padding: 1rem 0rem;
    border: none;
    text-align: center;
    box-shadow: var(--box-shadow-1);
    margin: 0;
}

.quantityBtn {
    align-items: center;
    box-sizing: border-box;
    box-shadow: var(--box-shadow-1);
    border: none;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    min-width: 3.5rem;
    margin: 0;
    min-height: 100%;
}

.quantityBtn:first-child {
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.quantityBtn:last-child {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.quantityBtn span {
    height: fit-content;
    width: fit-content;
}

.quantityBtn:hover {
    cursor: pointer;
    transition: all .3s;
}

.up {
    background-color: var(--success-btn-bg-color);
    background: var(--success-btn-gradient);
}

.down {
    background-color: var(--critical-btn-bg-color);
    background: var(--critical-btn-gradient);
}

.up:hover {
    background-color: var(--success-btn-bg-color);
    background: var(--success-btn-gradient-hover);
    transition: all .5s;
}

.down:hover {
    background-color: var(--critical-btn-bg-color);
    background: var(--critical-btn-gradient-hover);
    transition: all .5s;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    display: none;
    margin: 0;
}

.buttoncontainer {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 4rem 0;
    width: 100%;
}

.add {
    background-color: var(--primary-btn-bg-color);
    background: var(--primary-btn-gradient);
    border: none;
    margin: 0;
    width: 80%;
    transition: all .5s;
}

.add:hover {
    background-color: var(--primary-btn-hover-bg-color);
    background: var(--primary-btn-gradient-hover);
    cursor: pointer;
}

.descriptionlink {
    margin: 4rem 0;
    text-align: center;
}

.descriptionlink a {
    color: var(--text-secondary-color);
    transition: all .5s;
}

.category p {
    text-align: center;
}

.category p a {
    color: var(--text-secondary-color);
    transition: all .5s;
}

.descriptionContainer {
    background-color: var(--product-item-background);
    margin: 4rem 0;
    padding: 2rem;
    border-radius: 1rem;
}

.description {
    margin-top: 2rem;
}

.description table {
    background-color: var(--body-bg-main-color);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
}

.description table tbody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.description table caption {
    text-align: left;
}

.description table tr {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
}

.description table th:last-of-type,
.description table td:last-of-type {
    border-bottom: none;
}

.description table tr th {
    background-color: var(--outline-btn-bg-color);
    border-bottom: 1px solid var(--borders-main-color);
    padding: 1rem;
    text-align: left;
    width: 100%;
}

.description table tr th:first-of-type {
    border-top-left-radius: 1rem;
}

.description table tr th:last-of-type {
    border-bottom-left-radius: 1rem;

}

.description table tr th p {
    font-family: 'Poppins', sans-serif;
    font-weight: var(--medium);
}

.description table tr td {
    border-bottom: 1px solid var(--borders-main-color);
    padding: 1rem;
    text-align: left;
    width: 100%;
}

.description table tr th,
.description table tr td {
    align-items: center;
    display: flex;
    height: 79px;
    justify-content: center;
}

.description table tr th p,
.description table tr td p {
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        background-color: var(--product-item-background);
        box-shadow: var(--box-shadow-1);
        border-radius: 1rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        margin: 0 auto;
        width: 100%;
    }

    .image img {
        max-height: 400px;
        max-width: 400px;
        height: 100%;
        margin: 0 auto;
    }

    .title {
        margin: 0 auto 2rem;
        text-align: left;
        width: 100%;
    }

    .title h1 {
        font-size: 3.3rem;
        text-align: left;
    }

    .price {
        justify-content: flex-start;
    }

    .quantityContainer {
        justify-content: flex-start;
    }

    .qtyInput {
        width: 30%;
    }

    .buttoncontainer {
        justify-content: flex-start;
        width: 50%;
    }


    .category p {
        text-align: left;
    }

    .descriptionlink {
        margin: 4rem 0;
        text-align: left;
    }

    .descriptionlink a:hover {
        text-decoration: underline var(--text-secondary-color) 1px;
    }

    .stock {
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
    }

    .add:hover {
        background-color: var(--primary-btn-bg-color);
        cursor: pointer;
    }

    .category p a {
        color: var(--text-secondary-color);
        transition: all .5s;
    }

    .category p a:hover {
        text-decoration: underline var(--text-secondary-color) 1px;
    }

    .description table {
        padding: 2rem;
    }
}