.container {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10rem auto;
    animation: slideInBottom 500ms ease 0s 1 normal forwards;
    z-index: 1000;
}

.alert {
    min-width: 40%;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    border-radius: .3rem;
    box-shadow: var(--box-shadow-1);
    padding: 1.5rem;
    opacity: 0;
    animation: slideInBottom 500ms ease 0s 1 normal forwards;
}

/* Success message */
.success {
    background-color: var(--success-btn-bg-color);
    background: var(--success-btn-gradient);
    background: rgba(102, 187, 106, 0.75);
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid rgba(102, 187, 106, 0.52);
}

/* Error message */
.error {
    background-color: var(--critical-btn-bg-color);
    background: var(--critical-btn-gradient);
    background: rgba(236, 70, 68, 0.75);
    border-radius: 16px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid rgba(236, 70, 68, 0.52);
}

/* Warning message */
.warning {
    background-color: var(--critical-btn-bg-color);
    background: var(--error-btn-gradient);
    background: rgba(255, 179, 0, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 179, 0, 0.5);
}

/* info message */
.info {
    background-color: var(--critical-btn-bg-color);
    background: var(--error-btn-gradient);
    background: rgba(2, 119, 189, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(2, 119, 189, 0.5);
}

.header {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, auto);
    width: 100%;
    margin: 0 auto;
}

.button {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: right;
}

.text {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    column-gap: 2rem;
}

.hide {
    display: none;
}

.out {
    animation: slideOutRight 500ms ease 0s 1 normal forwards;
}


@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(250px);
    }
}