/* Products Categories */

.container {
    align-items: center;
    background-color: var(--orange);
    border-bottom: solid 1px var(--borders-main-color-blur);
    border-radius: none;
    flex-direction: column;
    display: flex;
    height: fit-content;
    width: 100%;
    z-index: 1000;
}

.flexWrapper {
    display: flex;
    justify-content: center;
    height: fit-content;
    min-width: 200px;
    padding: 1rem;
    width: 100%;
}

.header h3 {
    font-size: 2rem;
}

.buttonContainer {
    align-items: center;
    display: flex;
    justify-content: center;
}

.button {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 0;
    width: fit-content;
    transition: all .3s;
}

.button span {
    font-size: 3rem;
}

.hide {
    display: none;
    transition: all 1s ease;
}

.show {
    transition: all 1s ease;
}

.menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    margin: 2rem auto;
}

.menu li {
    border-bottom: solid 1px var(--borders-main-color-blur);
    padding: 1rem;
    margin: 0;
    text-align: center;
    transition: all .3s;
    width: 100%;
}

.menu li {
    border-bottom: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: auto;
    height: auto;
    min-height: 3rem;
}

.menu a {
    border-radius: .5rem;
    cursor: pointer;
    padding: .5rem 1rem;
    text-decoration: none;
    white-space: nowrap;
    inline-size: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    transition: all .3s;
}

.rotate {
    transform: rotate(180deg) !important;
}

@media (min-width: 768px) {

    .container {
        align-items: center;
        border-radius: none;
        display: flex;
        height: fit-content;
    }

    .flexWrapper {
        justify-content: space-between;
        height: fit-content;
        min-width: 200px;
        width: fit-content;
        padding: 1rem;
    }

    .menu {
        flex-direction: row;
    }

    .menu a:hover {
        background-color: var(--text-secondary-color);
        transition: all .3s;
    }

    /* .button:hover {
        background-color: var(--primary-btn-bg-color);
        border: none;
        transition: all .3s;
    } */

}

@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOutTop {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-250px);
    }
}