/* Products Categories */

.container {
    background-color: var(--black);
    border-radius: none;
    flex-direction: column;
    display: flex;
    height: fit-content;
    max-height: 200px;
    width: 100%;
    z-index: 1000;
}

.menu {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
}

.menu li {
    border-bottom: solid 1px var(--text-white);
    padding: 1rem;
    margin: 0;
    text-align: left;
    transition: all .3s;
    width: 100%;
}

.menu a {
    border-radius: 0rem;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    inline-size: auto;
    overflow: hidden;
    padding: 1rem 2rem;
    text-overflow: ellipsis;
    text-align: left;
    transition: all .3s;
}



@media (min-width: 768px) {

    .container {
        align-items: center;
        border: solid 1px var(--text-white);
        border-radius: none;
        display: flex;
        flex-direction: column;
        height: fit-content;
        max-height: 500px;

    }

    .menu {
        flex-direction: column;
        padding: 1rem;
    }

}

@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOutTop {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-250px);
    }
}