/* Products Categories */
.container {
    background-color: var(--product-item-background);
    border-radius: 1rem;
    width: 100%;
    height: fit-content;
    padding: 2rem 2rem 0;
    margin: 0 auto 2rem;
}

.header {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttonContainer {
    align-items: center;
    display: flex;
    justify-content: center;
}

.button {
    background-color: transparent;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    height: fit-content;
    padding: 0;
    width: fit-content;
    transition: all .3s;
}

.hide {
    display: none;
    transition: all 1s ease;
}

.show {
    transition: all 1s ease;
}

.body {
    margin: 2rem auto;
}

.body ol li {
    border-bottom: solid 1px var(--borders-main-color-blur);
    padding: 1rem;
    margin: 0;
    text-align: center;
}

.body ol li:last-of-type {
    border-bottom: solid 1px var(--borders-main-color-blur);
}

.body ol li a {
    cursor: pointer;
    text-decoration: none;
    transition: all .3s;
}

.rotate {
    transform: rotate(180deg);
}

@media (min-width: 768px) {

    .container {
        background-color: var(--product-item-background);
        border-radius: 1rem;
        box-shadow: var(--box-shadow-1);
        width: 100%;
        min-width: 30%;
    }

    .header {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .body ol li:hover {
        background-color: var(--text-secondary-color);
        transition: all .3s;
    }

    /* .button:hover {
        background-color: var(--primary-btn-bg-color);
        border: none;
        transition: all .3s;
    } */

}

@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOutTop {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-250px);
    }
}