/* Header */

.header {
    background-color: var(--headers-main-color);
    border-bottom: solid 1px var(--primary-btn-bg-color);
    position: fixed;
    height: fit-content;
    left: 0;
    min-height: fit-content;
    box-sizing: border-box;
    top: 0;
    max-width: 100%;
    width: 100%;
    z-index: 1000;
    transition: all .5s;
}

.header_container {
    width: 90%;
    margin: 0 auto;
}

.logo {
    align-items: center;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.toggle {
    background-color: transparent;
    border: none;
    color: var(--text-white);
    cursor: pointer;
    transition: all .5s;
    padding: 0;
    width: fit-content;
}

.hidden {
    display: none;
}

.show_cart {
    padding: .5rem 0;
    color: var(--headers-main-color);
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    box-sizing: border-box;
    gap: 1rem;
    inline-size: 100%;
    justify-content: flex-start;
    margin: 0;
    transition: all .3s;
}

.show_cart span {
    color: var(--text-white);
    font-weight: var(--light);
    padding: .7rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
}

.dropdown_body {
    box-shadow: var(--shadow-box-2);
    height: fit-content;
    margin-top: 1rem;
    min-width: 160px;
    width: 100%;
    opacity: 0;
    z-index: 1;
}

.dropdown_menu {
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dropdown_menu li {
    text-align: left;
    width: 100%;
    border-bottom: solid 1px var(--border-grey-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .5rem;
}

.dropdown_menu li button {
    inline-size: 100%;
}

.menu {
    width: 100%;
    height: fit-content;
}

.menu nav ul {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu nav ul li {
    border-bottom: solid 1px var(--border-grey-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem .5rem;
}

.menu nav ul li a {
    border-radius: .5rem;
    color: var(--text-white);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: var(--medium);
    font-size: 1.6rem;
    inline-size: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    transition: all .5s;
    white-space: nowrap;
}

.logout,
.categories_btn {
    background-color: transparent;
    border: none;
    color: var(--text-white);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    white-space: nowrap;
    inline-size: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    transition: all .5s;
}

.categories_btn {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.categories_btn span {
    color: var(--text-white);
    font-size: 2rem;
    transition-duration: .5s;
}

.rotate {
    transform: rotate(180deg);
    transition-duration: .5s;
}

.hide {
    display: none;
}

.show {
    display: block;
    height: fit-content;
    opacity: 1;
}

.menu nav ul li a:hover,
.show_cart:hover p,
.show_cart:hover span,
.logout:hover,
.categories_btn:hover,
.categories_btn:hover span {
    color: var(--orange);
    transition: all .3s;
}

@media (min-width: 768px) {
    .header {
        background-color: var(--item-bg-secondary-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 10rem;
        max-height: fit-content;
    }

    .header_container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 90%;
    }

    .logo {
        height: 100%;
        width: fit-content;
        display: flex;
        align-items: flex-start;
    }

    .dropdown_body {
        box-shadow: var(--shadow-box-2);
        position: absolute;
        margin-top: 0;
        min-width: 160px;
        height: 0px;
        opacity: 0;
        z-index: 1;
        transition: height 1s ease 0s;
    }

    .dropdown_menu {
        background-color: var(--black);
    }

    .dropdown_menu div li {
        text-align: left;
        width: 100%;
        float: left;
    }

    .dropdown_menu li a {
        inline-size: 100%;
        text-align: left;
    }

    .dropdown:hover .dropdown_body {
        display: block;
        height: fit-content;
        opacity: 1;
    }

    .dropdown:hover span {
        transform: rotate(180deg);
    }

    .toggle {
        display: none;
    }

    .hidden {
        display: block;
    }

    .show_cart {
        justify-content: space-between;
    }

    .rotate {
        transform: rotate(0deg);
        transition-duration: .5s;
    }

    .show_cart span {
        background-color: transparent;
        border-radius: .5rem;
        color: var(--text-white);
        font-weight: var(--light);
        padding: 0;
    }

    .logo a .website-logo {
        margin: 1.5rem 0;
        color: var(--primary-btn-bg-color);
        font-weight: var(--extra-light);
        letter-spacing: -1.5pt;
        text-align: left;
    }

    .logo a .website-logo span {
        color: var(--body-bg-main-color);
        font-weight: var(--medium-h);
        letter-spacing: -1pt;
    }

    .cartText {
        color: var(--text-white);
    }

    .menu {
        width: fit-content;
        height: 100%;
        margin: 0;
    }

    .menu nav ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1rem;
    }

    .menu nav ul li,
    .menu nav ul div li {
        align-items: flex-start;
        border-bottom: none;
        display: flex;
        justify-content: flex-start;
        text-align: center;
    }

    .menu nav ul li a {
        color: var(--body-bg-main-color);
        inline-size: 100%;
    }

}