/* Header */

.header {
    background-color: var(--headers-main-color);
    border-bottom: solid 1px var(--primary-btn-bg-color);
    position: fixed;
    width: 100%;
    height: fit-content;
    min-height: 10rem;
    max-height: fit-content;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all .5s;
}

.header_container {
    width: 90%;
    margin: 0 auto;
}

.logo {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.toggle {
    background-color: transparent;
    border: none;
    color: var(--text-white);
    transition: all .5s;
}

.hidden {
    display: none;
}

.show_cart {
    padding: .5rem 0;
    color: var(--headers-main-color);
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    box-sizing: border-box;
    transition: all .3s;
    padding: .5rem 1rem;
    inline-size: 100%;
    margin: 0;
    justify-content: start;
}

.show_cart:hover {
    border-image: none;
    border-right: solid 3px var(--primary-btn-hover-bg-color);
    transition: all .3s;
}

.show_cart span {
    color: var(--text-white);
    font-weight: var(--light);
    padding: .7rem;
}


.cartText {
    color: var(--text-white);
    margin-right: 1rem;
}

.menu {
    width: 100%;
    height: fit-content;
    padding: .5rem;
    margin: 0 auto;
}

.menu nav ul {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 1rem;
}

.menu nav ul li {
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    width: 100%;
    border-bottom: solid 1px var(--border-grey-color);
}

.menu nav ul li a {
    color: var(--body-bg-main-color);
    padding: 0.5rem 1rem;
    letter-spacing: 0pt;
    border-radius: .5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: var(--light);
    transition: all .5s;
    white-space: nowrap;
    inline-size: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.logout {
    background-color: transparent;
    border: none;
    color: var(--body-bg-main-color);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: var(--light);
    letter-spacing: 1pt;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    inline-size: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    transition: all .5s;
}

@media (min-width: 768px) {
    .header {
        background-color: var(--item-bg-secondary-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 10rem;
        max-height: fit-content;
    }

    .header_container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 90%;
    }

    .logo {
        height: 100%;
        width: fit-content;
        display: flex;
        align-items: flex-start;
    }

    .toggle {
        display: none;
    }

    .hidden {
        display: block;
    }

    .show_cart span {
        background-color: transparent;
        border-radius: .5rem;
        color: var(--text-white);
        font-weight: var(--light);
        padding: 0;
    }

    .logo a .website-logo {
        margin: 1.5rem 0;
        color: var(--primary-btn-bg-color);
        font-weight: var(--extra-light);
        letter-spacing: -1.5pt;
        text-align: left;
    }

    .logo a .website-logo span {
        color: var(--body-bg-main-color);
        font-weight: var(--medium-h);
        letter-spacing: -1pt;
    }

    .cartText {
        color: var(--text-white);
    }

    .menu {
        width: fit-content;
        height: 100%;
        display: flex;
        margin: 0;
    }

    .menu nav ul {
        display: grid;
        grid-template-columns: repeat(4, auto);
        column-gap: .5rem;
    }

    .menu nav ul li {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu nav ul li a {
        color: var(--body-bg-main-color);
        padding: 0.5rem 1rem;
        letter-spacing: 1pt;
        border-radius: .5rem;
        font-family: 'Poppins', sans-serif;
        font-weight: var(--light);
        inline-size: auto;
    }

    .menu nav ul li a:hover {
        background-color: var(--primary-btn-hover-bg-color);
        color: var(--headers-main-color);
        transition: all .5s;
    }
}