.carousel {
    display: none;
}

@media (min-width: 768px) {

    .carousel {
        align-items: center;
        display: block;
        display: flex;
        justify-content: center;
        gap: 2rem;
        height: 600px;
        position: relative;
        width: 100%;
        margin: 0 auto 5rem;
    }

    .carousel_button {
        align-items: center;
        display: flex;
        justify-content: center;
    }


    .carousel_button button {
        align-items: center;
        background: rgba(0, 0, 0, 0.30);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.2px);
        -webkit-backdrop-filter: blur(6.2px);
        border-radius: 50px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 1rem;
        user-select: none;
        transition-duration: .3s;
        z-index: 10;
    }

    .carousel_button button:hover {
        transform: scale(1.5);
        transition-duration: .3s;
    }

    .carousel_button button span {
        font-size: 2.5rem;
    }

    .prev_btn {
        position: absolute;
        top: 50;
        left: 35px;
    }

    .next_btn {
        position: absolute;
        top: 50;
        right: 35px;
    }

    .carousel_images {
        overflow-x: hidden;
        width: 1000px;
    }

    .carousel_images ul {
        display: flex;
        width: fit-content;
        height: fit-content;
        max-width: 4000px;
        overflow-x: hidden;
        overflow: hidden;
    }

    .slide {
        opacity: 0;
        transition-duration: 1s ease;
    }

    .slide.active {
        opacity: 1;
        transform: scale(0.9);
        transition-duration: 1s;
    }

    .slide.active:hover {
        transform: scale(1);
        transition-duration: 1s;
    }

    .carousel_indicator {
        align-items: center;

        bottom: 20px;
        display: flex;
        left: 50;
        gap: 5px;
        justify-content: center;
        position: absolute;
        width: 7rem;
        height: 1rem;
        z-index: 10;
    }

    .indicator {
        background-color: var(--black);
        border: solid 1px var(--black);
        cursor: pointer;
        width: 10px;
        height: 10px;
        border-radius: 5rem;
        transition: all .3s;
    }

    .indicator.active {
        background-color: var(--orange);
        border: solid 1px var(--black);
        width: 13px;
        height: 13px;
        transition: all .3s;
    }

}