.container {
    background-color: var(--product-item-background);
    border-radius: 1rem;
    box-shadow: var(--box-shadow-1);
    height: fit-content;
    margin: 15rem auto;
    padding: 4rem;
    width: fit-content;
}

.container form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 80%;
}

.container form input {
    background-color: var(--item-bg-main-color);
    border: none;
    border-radius: 1rem;
    box-shadow: var(--box-shadow-1);
    font-family: 'Questrial', sans-serif;
    font-size: 1.6rem;
    padding: 1.5rem 1.5rem;
    width: 100%;
}

.loginBtn,
.registerBtn {
    align-items: center;
    box-shadow: var(--box-shadow-1);
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    margin: 0;
    width: 100%;
    transition: all .5s;
}

.loginBtn {
    background-color: var(--login-btn);
    border: none;
    color: var(--product-item-background);
    margin: 0 auto 1rem;
    transition: all .5s;
}

.registerBtn {
    background-color: transparent;
    border: solid 2px var(--login-btn);
}

.registerBtn:hover {
    border: solid 2px var(--login-btn-hover);
    cursor: pointer;
}

.container form button:hover {
    background-color: var(--login-btn);
    color: var(--text-main-color);
    cursor: pointer;
}

.btnContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-width: 35rem;
}

.passwordLink {
    color: var(--login-btn-hover);
    transition: all .5s;
}

.passwordLink:hover {
    color: var(--login-btn-hover);
    text-decoration: underline;
}