.container {
    background-color: var(--product-item-background);
    border-radius: 1rem;
    box-shadow: var(--box-shadow-1);
    height: fit-content;
    margin: 15rem auto;
    padding: 4rem;
    width: fit-content;
}

.container {
    width: 40%;
}

.container form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    min-width: 35rem;
    width: 80%;
}

.container form input {
    background-color: var(--item-bg-main-color);
    border: none;
    border-radius: 1rem;
    box-shadow: var(--box-shadow-1);
    font-family: 'Questrial', sans-serif;
    font-size: 1.6rem;
    padding: 1.5rem 1.5rem;
    width: 100%;
}

.submitBtn {
    background-color: #0277BD;
    border: none;
    color: var(--product-item-background);
    margin: 0 auto 1rem;
    transition: all .5s;
}

.submitBtn {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.submitBtn:hover {
    background-color: #039BE5;
    color: var(--text-main-color);
    cursor: pointer;
}
